<!DOCTYPE html>
<html>
<head><title>Een reis</title></head>
<body>
    <form action="/Home/Index" method="post">
        <label>Bestemming<input type="text" name="bestemming" /></label>
        <label>Dagprijs<input type="number" name="dagprijs" /></label>
        <label>Aantal dagen<input type="number" name="aantaldagen"/></label>
        <label><input type="checkbox" name="heeftKorting" />Met korting</label>
        <input type="submit" value="Bereken"/>
    </form>
</body>
</html>
