<!DOCTYPE html>
<html>
<head><title>Opteller</title></head>
<body>
    <form action="/Home/Index" method="post">
        <input type="number" name="Getal1" />
        +
        <input type="number" name="Getal2" />
        <input type="submit" value="optellen" />
    </form>
</body>
</html>